#courseBanner {
    padding: 0 24px;
    margin: 0;
    background-size: cover;
}

.ic-app-nav-toggle-and-crumbs::before {
    content: "";
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    display: block;
    height: 71px;
    position: absolute;
    left: 0;
    width: 700px;
}

.ic-app-nav-toggle-and-crumbs>.ic-app-crumbs {
    z-index: 1;
}